example/example
example2/example2
example3/example3
registry-cli/add-test-build-context-default.tar
registry-cli/add-test-build-context-custom-proxy.tar
registry-cli/registry-cli
registry-service/registry-service

